.about-stats {
  .progress-bars {
    .progress-bar {
      .progress-con {
        .progress {
          .html {
            width: 90%;
          }
          .css {
            width: 80%;
          }
          .javascript {
            width: 70%;
          }
          .node {
            width: 60%;
          }
          .react {
            width: 30%;
          }
          .ruby {
            width: 80%;
          }
        }
      }
    }
  }
}
