.about-stats {
  .progress-bars {
    .progress-bar {
      .progress-con {
        .prog-text {
          // display: none;
        }
        .progress {
          .html-css-js {
            width: 90%;
          }
          .rest {
            width: 80%;
          }
          .sql {
            width: 70%;
          }
          .git {
            width: 70%;
          }
          .python {
            width: 60%;
          }
          .ruby {
            width: 85%;
          }
          .react {
            width: 60%;
          }
        }
      }
    }
  }
}
